body {
    margin: 0%;
}

header {
    background-color: darkcyan;
    padding: 32PX 0PX 32PX 20PX;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

#main-title {
 margin-top: 0%;
} 

#sub-titile {
    margin-bottom: 0%;
    padding: 30PX 0PX;
    font-weight: bold;
    font-size: 24PX;
}

.nav-menu li{
    list-style: none;
    padding: 10px 8px;
    display: inline-block;
    background-color: aquamarine;
    border-right: 1px dashed lightslategray;
    width: 80PX;
    text-align: center;
}

ul.nav-menu {
    background-color: aquamarine;
    padding-left: 0%;
    margin-top: 0%;
}
