body {
    margin: 0%;
}

main {
    padding: 10PX 20PX;
}

header {
    background-color:rgb(54, 207, 200);
    padding: 32PX 0PX 32PX 20PX;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

#main-title {
 margin-top: 0%;
} 

#sub-titile {
    margin-bottom: 0%;
    padding: 30PX 0PX;
    font-weight: bold;
    font-size: 24PX;
}

.nav-menu li{
    list-style: none;
    padding: 10px 8px;
    display: inline-block;
    background-color: lightseagreen;
    border-right: 1px dashed rgb(24, 128, 122);
    width: 80PX;
    text-align: center;
    font: bold;
}

ul.nav-menu {
    background-color: lightseagreen;
    padding-left: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: white;
}

#grid-item1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: small;
}

.contents-layout {
    padding: 20px;
    background-color: #FEDDF0 ;
    border: 2px solid black;
    margin-bottom: 15px;
}

#a1-list{
    border: 1px dashed black;
    margin: 0PX 8PX;
    background-color: white;
    height: max-content;
}

#grid-item2 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: small;
}

#a2-card {
    background-color: white;
    display: flex;
    justify-content: center;
}

img#a2-image{
    width: 90%;
    height: 90%;
    margin: auto;
}

#a2-contents p{
    margin: 0PX 8PX;
}

.footer-items h5 {
    background-color:steelblue;
    color: white;
    margin: 0%;
    padding: 20px 20px;
}

